	<div id="wrapper"></div>
	<ul id="nav">
		<li class="selected" onclick="gallery.goToPage(0)"></li>
		<li onclick="gallery.goToPage(1)"></li>
		<li onclick="gallery.goToPage(2)"></li>
		<li onclick="gallery.goToPage(3)"></li>
		<li onclick="gallery.goToPage(4)"></li>
		<li onclick="gallery.goToPage(5)"></li>
		<li onclick="gallery.goToPage(6);"></li>
		<li onclick="gallery.goToPage(7)"></li>
		<li onclick="gallery.goToPage(8)"></li>
		<li onclick="gallery.goToPage(9)"></li>
		<!-- <li onclick="gallery.goToPage(10)"></li> -->
	</ul>
	
	<nav>
		<a id="prev" onclick="gallery.prev()"><</a>
		<a id="next" onclick="gallery.next()">></a>
	</nav>
	
	<div id="survey" class="modal hide fade">
		<div id="scrollcontainer">
		<h2>Case Example</h2>			

			<p>A 63 YO congressman developed severe DOE while skiing in Colorado and was found to have a Hgb of 7.4. Colonoscopy revealed a nearly obstructing fungating mass at 50 cm that was biopsy positive for a moderately differentiated mucinous adenocarcinoma. A CT scan showed mild emphysematous changes in her lungs and a single 1.5 cm RLL nodule along with at least 5 hepatic metastases with the largest measuring 3.4 cm involving the portal vein. Further pathologic evaluation reveals that her tumor is MSS and contains a glycine to arginine mutation in RAS codon 12.</p>

			<p>At this point, do you suggest systemic intervention using chemotherapy plus bevacizumab?</p>
			
			<p class="answer"><input type="radio" name="1" value="Yes"> Yes <input type="radio" name="1" value="No"> No</p>
			
		<a class="btn danger closemodal closesurvey" data-dismiss="modal" href="#survey">Submit</a>
			
		</div>
	</div>

<script type="text/javascript" charset="utf-8">
	$('#survey').modal({
		backdrop: true,
	  keyboard: true
	});
	$('a.closemodal').click(function() {
			   var qqq = $(this).closest('.modal');
			   $(qqq).modal('hide');
	});
	$('#survey').on('hidden', function () {
	  gallery.next();
		chart.write('chartdiv');
		
	});
</script>
	
<script type="text/javascript">
document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

var	gallery,
	el,
	i,
	page,
	dots = document.querySelectorAll('#nav li'),
	slides = [
			{
				cont: '<h2 class="typewriter">Scientific collaboration made smarter</h2>\
				<p class="center"><%= image_tag "consensuslogo.png", :title => "Clinical Consensus", :class => "frontlogo" %></p>',
				tex: '<p>The first context-based information channel designed to effectively communicate with physicians in a forum they prefer.</p>\
				<p class="swipemessage"><em>Please swipe to the next frame ⇢</em></p>\
				<footer><p><a href="http://mobilezen.com/nsite"><%= image_tag "sthealthlogo.png", :title => "StHealth", :class => "sentencelogo" %> by <%= image_tag "nsitelogo.png", :title => "N*Site", :class => "sentencelogo" %></p></a></footer>'
			},
			{
				cont: '<h2>Words and data are important…</h2>',
				tex: '<p>But research shows that <strong>effective communication</strong> has less to do with content, and more to do with the <strong>context</strong> in which that <strong>content</strong> is delivered.</p>'
			},
			{
				cont: '<h2 class="noisy">The clinical landscape is noisy.</h2>\
				<p class="buzz">The differentiation of tumorigenic cancer stem cells into nontumorigenic cancer cells confers heterogeneity to some cancers beyond that explained by clonal evolution or environmental differences. In such cancers, functional differences between tumorigenic and nontumorigenic cells influence response to therapy and prognosis. However, it remains uncertain whether the model applies to many, or few, cancers due to questions about the robustness of cancer stem cell markers and the extent to which existing assays underestimate the frequency of tumorigenic cells. In cancers with rapid genetic change, reversible changes in cell states, or biological variability among patients, the stem cell model may not be readily testable. The differentiation of tumorigenic cancer stem cells into nontumorigenic cancer cells confers heterogeneity to some cancers beyond that explained by clonal evolution or environmental differences. In such cancers, functional differences between tumorigenic and nontumorigenic cells influence response to therapy and prognosis. However, it remains uncertain whether the model applies to many, or few, cancers due to questions about the robustness of cancer stem cell markers and the extent to which existing assays underestimate the frequency of tumorigenic cells. In cancers with rapid genetic change, reversible changes in cell states, or biological variability among patients, the stem cell model may not be readily testable. The differentiation of tumorigenic cancer stem cells into nontumorigenic cancer cells confers heterogeneity to some cancers beyond that explained by clonal evolution or environmental differences. In such cancers, functional differences between tumorigenic and nontumorigenic cells influence response to therapy and prognosis. However, it remains uncertain whether the model applies to many, or few, cancers due to questions about the robustness of cancer stem cell markers and the extent to which existing assays underestimate the frequency of tumorigenic cells. In cancers with rapid genetic change, reversible changes in cell states, or biological variability among patients, the stem cell model may not be readily testable. The differentiation of tumorigenic cancer stem cells into nontumorigenic cancer cells confers heterogeneity to some cancers beyond that explained by clonal evolution or environmental differences. In such cancers, functional differences between tumorigenic and nontumorigenic cells influence response to therapy and prognosis. However, it remains uncertain whether the model applies to many, or few, cancers due to questions about the robustness of cancer stem cell markers and the extent to which existing assays underestimate the frequency of tumorigenic cells. In cancers with rapid genetic change, reversible changes in cell states, or biological variability among patients, the stem cell model may not be readily testable. The differentiation of tumorigenic cancer stem cells into nontumorigenic cancer cells confers heterogeneity to some cancers beyond that explained by clonal evolution or environmental differences. In such cancers, functional differences between tumorigenic and nontumorigenic cells influence response to therapy and prognosis. However, it remains uncertain whether the model applies to many, or few, cancers due to questions about the robustness of cancer stem cell markers and the extent to which existing assays underestimate the frequency of tumorigenic cells. In cancers with rapid genetic change, reversible changes in cell states, or biological variability among patients, the stem cell model may not be readily testable. The differentiation of tumorigenic cancer stem cells into nontumorigenic cancer cells confers heterogeneity to some cancers beyond that explained by clonal evolution or environmental differences. In such cancers, functional differences between tumorigenic and nontumorigenic cells influence response to therapy and prognosis. However, it remains uncertain whether the model applies to many, or few, cancers due to questions about the robustness of cancer stem cell markers and the extent to which existing assays underestimate the frequency of tumorigenic cells. In cancers with rapid genetic change, reversible changes in cell states, or biological variability among patients, the stem cell model may not be readily testable.</p>',
				tex: '<p class="noisy">Clinical Consensus provides its community of physicians:</p>\
				<ul class="noisy"><li>New and meaningful solutions for patient care</li>\
				<li>The most current advances in clinical practice</li>\
				<li>Direct contact with key opinion leaders</li>\
				<li>Dynamic peer to peer information exchange</li></ul>\
				<p class="noisy">Delivered in the format and medium they desire.</p>'
			},
			{
				cont: '<h2 class="typewriter">Healthcare and mobile technology: A perfect match</h2>',
				tex: '<p>Utilizing text messaging, email and cutting edge responsive web design, Clinical Consensus delivers <strong>contextual information</strong> in a <strong>dynamic medium</strong> for professional exchange, with <strong>expert analysis</strong> from respected key opinion leaders – on <em>any</em> web-enabled device.</p>\
				<p><a onclick="gallery.next()"><em>Here\'s how it works. ⇢</em></a></p>'
			},
			{
				cont: '',
				tex: '<h2 class="leftsidetop">Opportunity</h2>\
				<p class="leftside">Valuable curated content and treatment options are presented to and evaluated by peer physicians in a thought-provoking format.</p>\
				<p class="leftside"><a href="#survey" data-controls-modal="survey"><em>View an example</em></a></p>\
				<p><a href="#survey" data-controls-modal="survey"><%= image_tag "iphonesurvey.png", :title => "Survey on iPhone", :class => "rightside" %></a></p>'
			},
			{
				cont: '<h2 class="leftside">Community</h2>',
				tex: '<p class="leftside">Responses from the community are delivered instantly, allowing physicians to compare and contrast their responses with those of their peers.<br /><a class="btn danger generatechart" onclick="generateChart();">Show Results</a></p>\
				<div id="chartdiv" style="width: 100%; height: 100px;"></div>'
			},
			{
				cont: '<h2>Results</h2>',
				tex: '<p>Data is collated, and solutions are then shared within the community, along with insightful analysis from key opinion leaders, in a variety of engaging formats, like audio</p>\
				<audio controls="controls">\
					<source src="caseexample.m4a" type="audio/mp3" />\
					Your browser does not support the audio element.\
				</audio>\
				<p>and video.</p>\
				<video controls="controls">\
					<source src="kolsample.mp4" type="video/mp4" />\
					Your browser does not support the video tag.\
				</video>'
			},
			{
				cont: '<h2>Resources</h2>',
				tex: '<p>Clinical Consensus continuously engages the physician community by providing them access to the most current information, <strong>anytime</strong>, <strong>anywhere</strong> on <strong><em>any</em> device</strong>.</p>\
				<ul><li>Disease State</li>\
				<li>Recent Publications</li>\
				<li>Webinars</li>\
				<li>Case Studies</li>\
				<li>Treatment Guidelines</li>\
				<li>News Feed</li></ul>\
				<p><%= image_tag "ipad.png", :title => "iPad Consensus", :class => "ipad" %></p>'
			},
			{
				cont: '<h2>Connectivity</h2>',
				tex: '<p>Physicians from across the country are connected with key opinion leaders and given the opportunity to ask questions, discuss a case with peers, and pose real world case studies for future evaluation.</p>\
				<p><%= image_tag "connections.png", :title => "Connections", :class => "connections" %></p>'
			},
			{
				cont: '<h2 class="goaway">Content delivered, in clinical context... Anytime. Anywhere.</h2>\
				<h2 class="comeback">Contact<br /><%= image_tag "nsitelogo.png", :title => "N*Site", :class => "closinglogo" %><br /><a href="tel:858-243-5930">858-243-5930</a></h2><p class="comeback">Text NSite to 99699</p>',
				tex: '<footer><p><a href="http://mobilezen.com/nsite"><%= image_tag "sthealthlogo.png", :title => "StHealth", :class => "sentencelogo" %> by <%= image_tag "nsitelogo.png", :title => "N*Site", :class => "sentencelogo" %></a></p></footer>'
			}
	];

gallery = new SwipeView('#wrapper', { numberOfPages: slides.length });

// Load initial data
for (i=0; i<3; i++) {
	page = i==0 ? slides.length-1 : i-1;
	el = document.createElement('figure');
	el.className = 'loading';
	el.innerHTML = slides[page].cont;
	el.onload = function () { this.className = ''; }
	gallery.masterPages[i].appendChild(el);

	el = document.createElement('aside');
	el.innerHTML = slides[page].tex;
	gallery.masterPages[i].appendChild(el)
}

gallery.onFlip(function () {
	var el,
		upcoming,
		i;

	for (i=0; i<3; i++) {
		upcoming = gallery.masterPages[i].dataset.upcomingPageIndex;

		if (upcoming != gallery.masterPages[i].dataset.pageIndex) {
			el = gallery.masterPages[i].querySelector('figure');
			el.className = 'loading';
			el.innerHTML = slides[upcoming].cont;
			
			el = gallery.masterPages[i].querySelector('aside');
			el.innerHTML = slides[upcoming].tex;
		}
	}
	
	document.querySelector('#nav .selected').className = '';
	dots[gallery.pageIndex].className = 'selected';
});

gallery.onMoveOut(function () {
	gallery.masterPages[gallery.currentMasterPage].className = gallery.masterPages[gallery.currentMasterPage].className.replace(/(^|\s)swipeview-active(\s|$)/, '');
});

gallery.onMoveIn(function () {
	var className = gallery.masterPages[gallery.currentMasterPage].className;
	/(^|\s)swipeview-active(\s|$)/.test(className) || (gallery.masterPages[gallery.currentMasterPage].className = !className ? 'swipeview-active' : className + ' swipeview-active');
});

</script>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		if ($('#swipeview-slider .swipeview-active h2.typewriter').length ) {
		   $('#swipeview-slider .swipeview-active h2.typewriter').jTypeWriter();
		}
	});
</script>

<script type="text/javascript">
            var chart;

            var chartData = [{
                year: 2006,
                income: 26.2,
                expenses: 22.8
            }, {
                year: 2007,
                income: 30.1,
                expenses: 23.9
            }];


            AmCharts.ready(function () {
                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.categoryField = "year";
                chart.startDuration = 1;
                chart.plotAreaBorderColor = "#DADADA";
                chart.plotAreaBorderAlpha = 1;
                chart.marginBottom = 10;
                // this single line makes the chart a bar chart          
                chart.rotate = true;

                // AXES
                // Category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridPosition = "start";
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;

                // Value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.axisAlpha = 0;
                valueAxis.gridAlpha = 0.1;
                valueAxis.position = "top";
                valueAxis.tickLength = 0;
                chart.addValueAxis(valueAxis);

                // GRAPHS
                // first graph
                var graph1 = new AmCharts.AmGraph();
                graph1.type = "column";
                graph1.title = "Income";
                graph1.valueField = "income";
                graph1.balloonText = "Income:[[value]]";
                graph1.lineAlpha = 0;
                graph1.fillColors = "#ff7a00";
                graph1.fillAlphas = 1;
                chart.addGraph(graph1);

                // second graph
                var graph2 = new AmCharts.AmGraph();
                graph2.type = "column";
                graph2.title = "Expenses";
                graph2.valueField = "expenses";
                graph2.balloonText = "Expenses:[[value]]";
                graph2.lineAlpha = 0;
                graph2.fillColors = "#f5e201";
                graph2.fillAlphas = 1;
                chart.addGraph(graph2);
            });
</script>

<script type="text/javascript">
	function generateChart() {
		$('.generatechart').remove();
		chart.write('chartdiv');
	}
</script>